@model IEnumerable<KleuterWebsite.Models.CommandModel>

@{
    ViewBag.Title = "ListCommands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

<br />
<div>
    <h2>Commands Info</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Usage</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Usage)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />

<h2>Toggle Switch</h2>

<div>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>
